body, footer, p{margin: 50px auto 0;}
*{font-family: "Inria Sans", sans-serif;color: rgba(0,0,0,0.5);}
img{display: block;margin: 20px auto;width: 100px;}
h1, p{text-align: center;}
h1{color: black;}
form, h1, p{width: 600px;margin: auto;}
form {padding: 20px;box-sizing: border-box;border-radius: 15px;margin: 40px auto;}
form, input, textarea, select, hr {border: 1px solid rgba(0, 0, 0, 0.1);}
h2{margin-block: 15px;}
label{display: block;margin-block: 10px;font-weight: bold;}
input, select{border-radius: 8px;height: 35px;}
input[type=radio]+label, input[type=checkbox]+label{display: unset;font-weight: unset;}
input[type=radio], input[type=checkbox]{width: unset;height: unset;}
input, textarea, select{width: 100%;box-sizing: border-box;}
footer{background-color: rgba(0, 0, 0, 0.85);;padding-block: 20px;}
footer p{color: white;}
input[type=submit]{display: block;margin-block: 20px;height: 35px;width: 100%;color: white;background-color: rgb(51, 190, 51);border: none;border-radius: 5px;}
input, textarea{padding: 5px 10px;margin: 0;}
input[type=checkbox]+label, input[type=radio]+label,input, select{cursor: pointer;}
input[type=text], input[type=email], input[type=number], input[type=password]{cursor: unset;}
/* input[type=radio], input[type=checkbox], input[type=submit], input[type=file]{padding: unset;} */